<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-img-thumb">
      <img
        class="footer-img"
        srcset="
          ./img/footer/footer-img-335.png 335w,
          ./img/footer/footer-img-349.png 349w,
          ./img/footer/footer-img-670.png 670w,
          ./img/footer/footer-img-698.png 698w
        "
        sizes="(min-width: 1280px) 349px, (min-width: 375px) 335px, 100vw"
        src="./img/footer/footer-img-349.png"
        alt="the girl is holding bananas"
        loading="lazy"
      />
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-img" width="16" height="16">
          <use href="./img/footer/footer-sprite.svg#icon-logo"></use>
        </svg>
        <span class="footer-logo-text">fresh harvest box</span>
      </a>
    </div>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#how-it-works">How It Works</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#fruits">Fruits</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>

    <ul class="footer-socials">
      <li class="footer-socials-item">
        <a
          class="footer-socials-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer-socials-img" width="24" height="24">
            <use href="./img/footer/footer-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-socials-item">
        <a
          class="footer-socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer-socials-img" width="24" height="24">
            <use href="./img/footer/footer-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-socials-item">
        <a
          class="footer-socials-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer-socials-img" width="24" height="24">
            <use href="./img/footer/footer-sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer-contacts">
      <li class="footer-contacts-item">
        <a class="footer-contacts-link link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </li>
      <li class="footer-contacts-item">
        <a
          class="footer-contacts-link link"
          href="https://goo.gl/maps/kj35jBKf2ffBkgqM9"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </li>
    </ul>
    <button class="go-top btn">
      <svg class="go-top-icon" width="20" height="20">
        <use href="../img/svg/icons.svg#icon-ep_arrow-up"></use>
      </svg>
    </button>
  </div>
</footer>
