<section class="section-fruits" id="fruits">
  <div class="container">
    <h2 class="fruits-title">ORGANIC FRUITS</h2>
    <p class="fruits-undertitle">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/strawberry@1x.webp 1x,
            ./img/fruits/strawberry@2x.webp 2x
          "
          src="./img/fruits/strawberry@1x.webp"
          alt="Strawberry"
          width="295"
        />

        <p class="fruits-price">100 UAH / kg</p>
      </li>

      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/banana@1x.webp 1x,
            ./img/fruits/banana@2x.webp 2x
          "
          src="./img/fruits/banana@1x.webp"
          alt="Banana"
          width="295"
        />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/watermelon@1x.webp 1x,
            ./img/fruits/watermelon@2x.webp 2x
          "
          src="./img/fruits/watermelon@1x.webp"
          alt="Watermelon"
          width="295"
        />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/lime@1x.webp 1x, ./img/fruits/lime@2x.webp 2x"
          src="./img/fruits/lime@1x.webp"
          alt="Lime"
          width="295"
        />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/apple@1x.webp 1x, ./img/fruits/apple@2x.webp 2x"
          src="./img/fruits/apple@1x.webp"
          alt="Apple"
          width="295"
        />
        <p class="fruits-price">50 UAH / kg</p>
      </li>

      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/peach@1x.webp 1x, ./img/fruits/peach@2x.webp 2x"
          src="./img/fruits/peach@1x.webp"
          alt="Peach"
          width="295"
        />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item plums">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/plums@1x.webp 1x, ./img/fruits/plums@2x.webp 2x"
          src="./img/fruits/plums@1x.webp"
          alt="Plums"
          width="295"
        />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/orange@1x.webp 1x,
            ./img/fruits/orange@2x.webp 2x
          "
          src="./img/fruits/orange@1x.webp"
          alt="Orange"
          width="295"
        />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/kiwi@1x.webp 1x, ./img/fruits/kiwi@2x.webp 2x"
          src="./img/fruits/kiwi@1x.webp"
          alt="Kiwi"
          width="295"
        />
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button type="button" class="button-order" data-order-open>
      <svg class="icon-arrow" width="14" height="14">
        <use href="./img/svg/icons.svg#arrow"></use>
      </svg>
      <span class="button-name">ORDER</span>
    </button>
  </div>
</section>
