<section class="section-fruits">
  <div class="container">
    <h2 class="">ORGANIC FRUITS</h2>
    <p class="fruits-undertitle">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Strawberry</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Strawberry" width="295" />
          <p class="fruits-price">100 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Banana</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Banana" width="295" />
          <p class="fruits-price">80 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Watermelon</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Watermelon" width="295" />
          <p class="fruits-price">40 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Lime</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Lime" width="295" />
          <p class="fruits-price">60 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Apple</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Apple" width="295" />
          <p class="fruits-price">50 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Peach</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Peach" width="295" />
          <p class="fruits-price">80 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Plums</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Plums" width="295" />
          <p class="fruits-price">40 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Orange</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Orange" width="295" />
          <p class="fruits-price">60 UAH / kg</p>
        </li>
      </div>
      <div class="fruits-card">
        <li class="fruits-item">
          <h3 class="fruits-item-title">Kiwi</h3>
          <p class="fruits-item-type">Plant</p>
          <img src="" alt="Kiwi" width="295" />
          <p class="fruits-price">90 UAH / kg</p>
        </li>
      </div>
    </ul>
    <button type="button" class="button" data-modal-open>ORDER</button>
  </div>
</section>
