<header class="header">
  <div class="header-container container">
    <!-- Nav -->

    <nav class="header-nav">
      <ul class="menu">
        <li>
          <a class="menu-link menu-font" href="#how-it-works">How It Works</a>
        </li>
        <li>
          <a class="menu-link menu-font" href="#fruits">Fruits</a>
        </li>
        <li>
          <a class="menu-link menu-font" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- logo -->
    <div class="logo">
      <a class="logo-img link" href="" aria-label="FruitsShop logo">
        <svg class="logo-svg" width="16" height="16">
          <use href="./img/icons.svg#logo"></use>
        </svg>
      </a>

      <a class="logo-name link" href="./index.html">Fresh Harvest Box</a>
    </div>

    <!-- Кошик (кнопка-меню) -->
    <!-- provided shopping-menu -->
    <button class="basket-btn" type="button" data-modal-open>
      <svg class="basket-icon" width="24" height="24">
        <use class="" href="./img/icons.svg#basket"></use>
      </svg>
    </button>

    <!-- Бургер-кнопка-меню -->

    <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon" width="24" height="24">
        <use class="" href="./img/icons.svg#burger-left"></use>
      </svg>
    </button>
  </div>
</header>
