<header class="header">
  <div class="header-container container">
    <!-- Nav -->

    <nav class="header-nav">
      <ul class="menu">
        <li>
          <a class="menu-link menu-font" href="#how-it-works">How It Works</a>
        </li>
        <li>
          <a class="menu-link menu-font" href="#fruits">Fruits</a>
        </li>
        <li>
          <a class="menu-link menu-font" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- logo -->

    <a
      class="logo logo-img logo-name link"
      href="./index.html"
      aria-label="FruitsShop logo"
    >
      <svg class="logo-svg" width="16" height="16">
        <use href="./img/svg/icons.svg#logo"></use></svg
      >Fresh Harvest Box
    </a>

    <!-- Кошик (кнопка-меню) -->

    <!-- for provided shopping-menu -> add: 'data-modal-open' -->
    <button class="basket-btn" type="button">
      <svg class="basket-icon" width="28" height="28">
        <use class="" href="./img/svg/icons.svg#basket"></use>
      </svg>
    </button>

    <!-- Бургер-кнопка-меню -->

    <button class="menu-toggle" type="button" data-mobile-menu-open>
      <!-- Варіант для вікна, яке виїжджає збоку: -->
      <!-- <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    > -->

      <svg class="burger-icon" width="24" height="24">
        <use class="" href="./img/svg/icons.svg#burger-left"></use>
      </svg>
    </button>
  </div>
</header>
