<header class="header">
  <div class="header-container container">
    <!-- Nav -->

    <nav class="header-nav">
      <ul class="menu">
        <li class="menu-item">
          <a class="menu-link menu-font" href="#how-it-works">How It Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-font" href="#fruits">Fruits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-font" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- logo -->

    <a class="logo link" href="./index.html" aria-label="FruitsShop logo">
      <svg class="logo-svg" width="16" height="16">
        <use href="./img/svg/icons.svg#logo"></use></svg
      >Fresh Harvest Box
    </a>

    <!-- Кошик (кнопка-меню) -->

    <!-- for provided shopping-menu -> add: 'data-modal-open' -->
    <button class="basket-btn color-change" type="button">
      <svg class="basket-icon" width="28" height="28">
        <use class="" href="./img/svg/icons.svg#basket"></use>
      </svg>
    </button>

    <!-- Бургер-кнопка-меню -->

    <button class="menu-toggle color-change js-open-menu" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use class="" href="./img/svg/icons.svg#burger-left"></use>
      </svg>
    </button>
  </div>
</header>
