<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">
      fresh harvest box<br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
    <div class="hero-left">
      <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="wraper-left">
        <span class="text">Fruit</span>
        <img src="./img/hero/img-1_desk@1x.png" alt="watermelon" height="172" />
        <p class="hero-subtitle">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-center">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/hero_desk@1x.jpg 1x,
            ./img/hero/hero_desk@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/hero_desk@1x.jpg 1x,
            ./img/hero/hero_desk@2x.jpg 2x
          "
        />
        <img
          class="hero-img"
          srcset="./img/hero/hero_mobile@2x.jpg 2x"
          src="./img/hero/hero_mobile@1x.jpg"
          alt="girl with orange"
        />
      </picture>

      <a class="link btn-link" href="#fruits">Shop Now</a>
    </div>
    <div class="hero-right">
      <div class="wraper-right">
        <span class="text">Fruit</span>
        <img
          src="./img/hero/img-2_desk@1x.png"
          alt="strawberyy"
          width="162"
          height="194"
        />
        <p class="hero-subtitle">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <ul class="list list-btn">
        <li class="hero-link-item">
          <h3 class="link hero-link">#organic</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Products</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Basket</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Fruits</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
