<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <div class="hero-left">
      <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="wraper-left">
        <span class="text">Fruit</span>
        <img
          src="./img/hero/img-1_desk@1x.png"
          alt="watermelon"
          width="200"
          height="172"
        />
        <p class="hero-subtitle">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-center">
      <img
        class="hero-img"
        src="./img/hero/hero_desk@1x.jpg"
        alt="girl with orange"
      />
      <a class="link btn-link" href="">Shop Now</a>
    </div>
    <div class="hero-right">
      <div class="wraper-left">
        <span class="text">Fruit</span>
        <img src="./img/hero/img-2_desk@1x.png" alt="strawberyy" />
        <p class="hero-subtitle">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <ul class="list list-btn">
        <li class="hero-link-item">
          <a href="#" class="link hero-link">#organic</a>
        </li>
        <li class="hero-link-item">
          <a href="#" class="link hero-link">#Products</a>
        </li>
        <li class="hero-link-item">
          <a href="#" class="link hero-link">#Basket</a>
        </li>
        <li class="hero-link-item">
          <a href="#" class="link hero-link">#Fruits</a>
        </li>
      </ul>
    </div>
  </div>
</section>
