<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">
      fresh harvest box<br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
    <div class="hero-left">
      <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="wraper-left">
        <h2 class="text">Fruit</h2>
        <picture>
          <source
            srcset="
              ./img/hero/img-1_desk@1x.webp 1x,
              ./img/hero/img-1_desk@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            srcset="./img/hero/img-1_desk@2x.png 2x"
            src="./img/hero/img-1_desk@1x.png"
            alt="watermelon"
            height="172"
            loading="lazy"
          />
        </picture>

        <p class="hero-subtitle">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-center">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/hero_desk@1x.webp 1x,
            ./img/hero/hero_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/hero_desk@1x.jpg 1x,
            ./img/hero/hero_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/hero_tab@1x.webp 1x,
            ./img/hero/hero_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/hero/hero_tab@1x.jpg 1x, ./img/hero/hero_tab@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero_mobile@1x.webp 1x,
            ./img/hero/hero_mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero_mobile@1x.jpg 1x,
            ./img/hero/hero_mobile@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          srcset="./img/hero/hero_mobile@2x.jpg 2x"
          src="./img/hero/hero_mobile@1x.jpg"
          alt="girl with orange"
          loading="lazy"
        />
      </picture>

      <a class="link btn-link" href="#fruits">Shop Now</a>
    </div>
    <div class="hero-right">
      <div class="wraper-right">
        <h2 class="text">Fruit</h2>
        <picture>
          <source
            srcset="
              ./img/hero/img-2_desk@1x.webp 1x,
              ./img/hero/img-2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            srcset="./img/hero/img-2_desk@2x.png 2x"
            src="./img/hero/img-2_desk@1x.png"
            alt="strawberyy"
            loading="lazy"
          />
        </picture>

        <p class="hero-subtitle">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <ul class="list list-btn">
        <li class="hero-link-item">
          <h3 class="link hero-link">#organic</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Products</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Basket</h3>
        </li>
        <li class="hero-link-item">
          <h3 class="link hero-link">#Fruits</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
