
    <div class="menu-container is-hidden" data-mobile-menu>
        <div class="menu-hamburger-top">
            <a class="top-logo" href="./index.html">
                <svg class="nav-logo" width="16" height="16">
                  <use href="./img/svg/icons.svg#logo"></use>
                </svg>
                <span class="menu-hamburger-title">fresh harvest box</span>
            </a>
            <button class="menu-btn close-btn" data-mobile-menu-close>
                <svg class="menu-close" width="24" height="24">
                  <use href="./img/svg/icons.svg#x-12"></use>
                </svg>
            </button>
        </div>
        <ul class="list menu-hamburger-list">
            <li class="item menu-hamburger-item">
                <a href="#how-it-works" data-mobile-menu-close>How It Works</a>
            </li>
            <li class="item menu-hamburger-item">
                <a href="#fruits" data-mobile-menu-close>Fruits</a>
            </li>
            <li class="item menu-hamburger-item">
                <a href="#contacts" data-mobile-menu-close>Contacts</a>
            </li>
        </ul>
        <button class="menu-btn basket-btn-down" type="button">
            <svg class="icon-basket" width="24" height="24">
              <use href="./img/svg/icons.svg#basket"></use>
            </svg>
        </button>
    </div>
