<div class="backdrop-thank is-hidden" data-thank-you>
  <div class="thank-wrapper">
    <button
      id="resetButton"
      type="button"
      class="thank-button"
      data-thank-you-close
    >
      <svg class="thank-close-btn" width="24" height="24">
        <use href="./img/svg/icons.svg#x-14"></use>
      </svg>
    </button>
    <picture>
      <!-- Изображение для таблет - десктопов -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/modal/kisspng-juice-frutti-lg@1x.webp 1x,
          ./img/modal/kisspng-juice-frutti-lg@1x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/modal/kisspng-juice-frutti-lg@1x.png 1x,
          ./img/modal/kisspng-juice-frutti-lg@1x.png 2x
        "
      />

      <!-- Изображение для мобильных устройств -->
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/modal/kisspng-juice-frutti-sm@1x.webp 1x,
          ./img/modal/kisspng-juice-frutti-sm@1x.webp 2x
        "
      />
      <img
        srcset="
          ./img/modal/kisspng-juice-frutti-sm@1x.png 1x,
          ./img/modal/kisspng-juice-frutti-sm@1x.png 2x
        "
        src="./img/modal/kisspng-juice-frutti-sm@1x.png"
        alt="raspberry"
        class="thank-img"
        loading="lazy"
      />
    </picture>

    <h3 class="thank-title">THANK YOU</h3>
    <p class="thank-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
