<div class="backdrop-thank is-hidden" data-thank-subscribe>
  <div class="thank-wrapper thank-contacts">
    <div>
      <button
        id="resetButton"
        type="button"
        class="thank-button thank-button-contacts"
        data-thank-subscribe-close
      >
        <svg class="thank-close-btn" width="24" height="24">
          <use href="./img/svg/icons.svg#x-14"></use>
        </svg>
      </button>
      <img
        class="thank-contact-img"
        srcset="./img/thank-subscribe/watermelon@2x.png 2x"
        src="./img/thank-subscribe/watermelon@1x.png 1x"
        alt="watermelon"
      />
      <h3 class="thank-title">THANK YOU</h3>
      <p class="thank-text">Thank you for your subscribe!</p>
      <p class="thank-text">
        Now you will recive all our latest news and know all our promos!
      </p>
    </div>
  </div>
</div>
