<div class="backdrop-thank is-hidden" data-thank-you>
  <div class="thank-wrapper">
    <button
      id="resetButton"
      type="button"
      class="thank-button"
      data-thank-you-close
    >
      <svg class="thank-close-btn" width="24" height="24">
        <use href="./img/svg/icons.svg#x-14"></use>
      </svg>
    </button>
    <picture>
      <!-- Изображение для мобильных устройств -->
      <source
        srcset="
          ./img/modal/kisspng-juice-frutti-sm@1x.webp 1x,
          ./img/modal/kisspng-juice-frutti-sm@1x.webp 2x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./img/modal/kisspng-juice-frutti-sm@1x.png 1x,
          ./img/modal/kisspng-juice-frutti-sm@1x.png 2x
        "
        media="(max-width: 767px)"
      />

      <!-- Изображение для десктопов -->
      <source
        srcset="
          ./img/modal/kisspng-juice-frutti-lg@1x.webp 1x,
          ./img/modal/kisspng-juice-frutti-lg@1x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./img/modal/kisspng-juice-frutti-lg@1x.png 1x,
          ./img/modal/kisspng-juice-frutti-lg@1x.png 2x
        "
      />

      <!-- Изображение по умолчанию -->
      <img
        src="./img/modal/kisspng-juice-frutti-sm@1x.png"
        alt="raspberry"
        class="thank-img"
      />
    </picture>

    <h3 class="thank-title">THANK YOU</h3>
    <p class="thank-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
<picture> </picture>
