<div class="backdrop is hiden">
  <div class="modal-order">
    <button class="modal-order-button">
      <svg class="modal-order-button-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
    <p class="modal-order-title">Your Order</p>
    <fieldset class="modal-order-group-basket">
      <label class="modal-order-label">
        <p class="modal-order-text">Strawberry Basket</p>
        <span class="modal-order-plant">Plant</span>
        <img
          class="modal-order-strawberry"
          src="../img/modal-order/img-strawberry.png"
          alt="Strawberry Basket"
          width="88"
          height="95"
        />
        <input class="modal-order-checkbox" type="checkbox" name="basket" />
      </label>
      <label class="modal-order-label">
        <p class="modal-order-text">Apple Basket</p>
        <span class="modal-order-plant">Plant</span>
        <img
          class="modal-order-apple"
          src="../img/modal-order/img-apple.png"
          alt="Apple Basket"
          width="106"
          height="95"
        />
        <input type="checkbox" name="basket" />
      </label>
      <label class="modal-order-label">
        <p class="modal-order-text">Fruits Basket</p>
        <span class="modal-order-plant">Plant</span>
        <img
          src="../img/modal-order/img-fruits.png"
          alt="Fruits Basket"
          width="107"
          height="95"
        />
        <input type="checkbox" name="basket" />
      </label>
    </fieldset>
    <fieldset class="modal-order-group">
      <input
        class="modal-order-input"
        type="text"
        name="fullname"
        placeholder="Enter full name..."
      />
      <input
        class="modal-order-input"
        type="email"
        name="email"
        placeholder="Enter email..."
      />
      <input
        class="modal-order-input"
        type="text"
        name="card"
        placeholder="Enter card.."
      />
      <textarea
        class="modal-order-comments"
        name="comments"
        placeholder="Enter comments..."
      ></textarea>
    </fieldset>
    <button class="modal-order-submit" type="submit">Submit</button>
  </div>
</div>
