.section-contacts {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section-contacts {
    padding-top: 79px;
    padding-bottom: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-contacts {
    padding-top: 89px;
    padding-bottom: 150px;
  }
}

.contacts {
  position: relative;
}
.contacts-header {
  position: absolute;
  top: -53px;
  max-width: 335px;

  height: 96px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-align: center;

  align-items: center;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--color-white);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .contacts-header {
    top: -78px;
    left: 50%;
    transform: translateX(-50%);

    width: 648px;
    height: 108px;
    max-width: none;

    font-weight: 500;
    font-size: 54px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-header {
    top: -87px;

    width: 740px;
    height: 128px;

    font-size: 64px;
  }
}
.contacts-list {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    gap: 16px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-list {
    gap: 24px;
  }
}

/* .contacts-item {
} */

@media only screen and (max-width: 767px) {
  .contacts-item-hidden {
    display: none;
  }
}

.contacts-img {
  border-radius: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .contacts-img {
    height: auto;
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .contacts-img {
    height: 476px;
  }
}

@media only screen and (max-width: 767px) {
  .contacts-wrapper {
    position: relative;
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 492px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
}
.contacts-text {
  display: inline-block;
  align-items: center;
  margin-bottom: 80px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--color-white);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.contacts-input {
  width: 292px;
  height: 48px;
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 116px;

  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  color: inherit;
  background-color: transparent;
  outline: none;
}
/* .contacts-input:focus {
} */
.contacts-input:not(:placeholder-shown):required:invalid {
  border-color: var(--color-bg-red);
}
.contacts-input:not(:placeholder-shown):required:valid {
  border-color: var(--color-green);
}
.contacts-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contacts-button {
  position: absolute;
  left: 290px;
  top: 134px;

  width: 102px;
  height: 48px;
  padding: 15px 35px;
  gap: 15px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: capitalize;

  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 100px;
  border: transparent;

  transition: background-color var(--var-1-animation),
    color var(--var-1-animation);
}

.contacts-button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
}
