.section-contacts {
  position: relative;
  padding-bottom: 80px;
}
.section-contacts .container {
  padding-top: 133px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section-contacts .container {
    padding-top: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-contacts .container {
    padding-top: 239px;
  }
}
.contacts-header {
  position: absolute;
  width: 335px;
  height: 96px;
  top: 80px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .contacts-header {
    width: 648px;
    height: 108px;
    font-weight: 500;
    font-size: 54px;
    line-height: 1;
    top: 65px;
    left: 55px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-header {
    width: 740px;
    height: 128px;
    font-size: 64px;
    top: 150px;
    left: 238px;
  }
}
.contacts-list {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    gap: 16px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-list {
    gap: 24px;
  }
}

.contacts-item {
}

@media only screen and (max-width: 767px) {
  .contacts-item-hidden {
    display: none;
  }
}

.contacts-img {
  border-radius: 20px;
  background: url(pranav-madhu-HCIOaDV3w7g-unsplash.jpg);
}
@media only screen and (max-width: 767px) {
  .contacts-wrapper {
    position: relative;
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
    width: 492px;
    height: 182px;
  }
}
.contacts-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.contacts-input {
  width: 292px;
  height: 48px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  color: inherit;
  background-color: transparent;
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 116px;
  outline: none;
}
.contacts-input:focus {
}
.contacts-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}
.contacts-input:not(:placeholder-shown):required:valid {
  border-color: var(--color-green);
}
.contacts-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contacts-button {
  position: absolute;
  padding: 15px 35px;
  gap: 15px;
  position: absolute;
  width: 102px;
  height: 48px;
  left: 290px;
  top: 134px;
  color: white;
  background-color: rgba(157, 193, 98, 1);
  border-radius: 100px;
  border: transparent;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}
