.footer-section {
    padding: 80px 0;

    background-color: var(--color-white);
    color: var(--color-bg-red);
}


@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;

    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
   .footer-right-side {
    display: flex;
  }
}


@media only screen and (min-width: 1280px) {
    .footer-img-thumb{
    margin-right: 243px;
  }
  
}



.footer-img {
    margin-bottom: 20px;
}
.footer-logo {
    display: flex;
    justify-content: center;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    
    transition: transform var(--var-1-animation);
}

.footer-logo:hover {
  transform: scale(1.15);
}


.footer-logo-img {
    margin-right: 8px;
    fill: var(--color-bg-red);
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    

    margin-top: 24px;
    margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
    .footer-nav {     
        margin-top: 80px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-nav{
        margin-top: 84px;
        margin-bottom: auto;
  }
}

.footer-nav-item {
    
}
.footer-nav-link {
    text-transform: capitalize;
    line-height: 1.29;
    padding: 7px 8px;

    transition: color var(--var-2-animation), border var(--var-2-animation);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--color-green);

  border-radius: 20px;
  border-bottom: 3px solid var(--color-green);
}

.footer-nav-item:nth-child(2) .footer-nav-link:hover,
.footer-nav-item:nth-child(2) .footer-nav-link:focus {
  color: var(--color-yellow);
  border-bottom: 3px solid var(--color-yellow);
}

.footer-nav-item:nth-child(3) .footer-nav-link:hover,
.footer-nav-item:nth-child(3) .footer-nav-link:focus {
  color: #747bff;
  border-bottom: 3px solid #747bff;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        justify-content: flex-start;
        margin-top: 38px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-socials {
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.footer-socials-item {

}
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border: 1px solid #AE1332;
    border-radius: 10px;

    transition: background-color var(--var-1-animation);
}

@media only screen and (min-width: 1280px) {
    .footer-socials-link {

        width: 44px;
        height: 44px;}

        
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: rgba(174, 19, 50, 0.1);
}

.footer-socials-img {
    display: block;
    fill: var(--color-bg-red);
}

.footer-contacts {
    max-width: 143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 14px;

    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    font-style: normal;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .footer-contacts {
        max-width: 180px;
        gap: 20px;

        font-size: 18px;
        line-height: 1.33;
        text-align: start;
    }

    .footer-address {
        display: block;
        width: 162px;
    }
}

.footer-contacts-link {
    transition: color var(--var-1-animation), border var(--var-1-animation);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--color-green);

    /* border-radius: 20px;
    border-bottom: 3px solid var(--color-green); */
}