.section-fruits {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section-fruits {
    padding-bottom: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-fruits {
    padding-bottom: 150px;
  }
}

.fruits-title {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;

  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--color-white);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-undertitle {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 44px;
  max-width: 547px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--color-white);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-item-title {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: var(--color-white);
}

.fruits-item-type {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: var(--color-white);
}

.fruits-price {
  position: absolute;
  bottom: 24px;
  width: 126px;
  height: 42px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.04em;

  color: var(--color-bg-red);
  background-color: var(--color-white);
}

.fruits-item {
  position: relative;
  border-radius: 20px;
  padding-top: 64px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  height: 465px;
}

@media only screen and (min-width: 768px) {
  .fruits-item {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-item {
    padding-right: 47px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-item img {
    margin-left: 23px;
  }
}

.strawberry {
  background-color: #f8766b;
}

.banana {
  background-color: #edd251;
}

.watermelon {
  background-color: #9dc262;
}

.lime {
  background-color: #bfd663;
}

.apple {
  background-color: #e93f29;
}

.peach {
  background-color: #db4f4b;
}

.plums {
  background-color: #9b5366;
}

@media only screen and (max-width: 767px) {
  .plums {
    display: none;
  }
}

.orange {
  background-color: #f47f4c;
}

@media only screen and (max-width: 767px) {
  .orange {
    display: none;
  }
}

.kiwi {
  background-color: #98b37e;
}

@media only screen and (max-width: 1279px) {
  .kiwi {
    display: none;
  }
}

.button-order {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-green);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  animation: btn-link 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s infinite both;
  transition: color var(--var-1-animation), background-color var(--var-1-animation);
}

@media only screen and (min-width: 768px) {
  .button-order {
    width: 114px;
    height: 114px;
    font-size: 18px;
    line-height: 1.33;
  }
}

/* .button-name {
  transform: rotate(-14deg);
} */

.button-order-common {
}

.icon-arrow {
  fill: currentColor;
  transform: rotate(14deg);
}

.button-order:hover,
.button-order:focus {
  color: var(--color-green);
  background-color: var(--color-white);
}

.icon-arrow:hover,
.icon-arrow:focus {
  fill: var(--color-green);
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 44px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .fruits-list {
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-list {
    gap: 24px;
  }
}
