.go-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  font-size: 20px;
  padding: 11px;
  color: #fff;
  background-color: #edd251;
  border: none;
  border-radius: 40px;
}

.go-top:hover {
  background-color: #f8766b;
}
.go-top {
  display: none;
}

.go-top--show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-top-icon {
  fill: currentColor;
}
