.header {
  padding: 13px 0;

  color: var(--color-bg-red);
  background-color: var(--color-white);

  --var-2-animation: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  /* gap: 16px; */
}

.menu-font {
  font-size: 0.88rem;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.menu-link {
  padding: 7px 8px;
  background-color: transparent;


  transition: color var(--var-1-animation), border var(--var-2-animation);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-green);

  border-radius: 20px;
  border-bottom: 3px solid var(--color-green);
}

.menu-item:nth-child(2) .menu-link:hover,
.menu-link:focus {
  color: var(--color-yellow);
  border-bottom: 3px solid var(--color-yellow);
}

.menu-item:nth-child(3) .menu-link:hover,
.menu-link:focus {
  color: #4d5ae5;;
  border-bottom: 3px solid #4d5ae5;;
}

.logo {
  display: flex;
  align-items: center;

  gap: 8px;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1.29;
  letter-spacing: -0.04em;

  transition: transform var(--var-1-animation);
}

.logo:hover {
  transform: scale(1.25);
}

.logo-svg {
  fill: currentColor;
}

.basket-btn,
.menu-toggle {
  padding: 0;

  color: var(--color-bg-red);
  background-color: transparent;

  border: none;
}

.color-change,
.color-change {
  transition: color var(--var-1-animation);
}

.color-change:hover,
.color-change:focus {
  color: var(--color-yellow);
}

.basket-icon,
.burger-icon {
  display: flex;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  fill: currentColor;
}

/* Phone styles and > */

@media only screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }

  .basket-btn {
    display: none;
  }
}

/* Tablet and > */

@media only screen and (min-width: 768px) {
  .header {
    padding: 11px 0;
  }

  .menu-toggle {
    display: none;
  }

  .header-nav {
    margin-right: 94px;
  }

  .basket-btn {
    margin-left: auto;
  }
}

/* Desktop and > */
@media screen and (min-width: 1280px) {
  .header-nav {
    margin-right: 322px;
  }

  .menu-link {
    padding: 7px 10px;
  }
}
