.header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
  color: #747bff;
}

.logo {
  text-transform: uppercase;
}

/* Phone styles and > */

@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .basket-btn {
    display: none;
  }
}

/* Tablet and > */

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* Desktop and > */
@media screen and (min-width: 1280px) {
}
