.hero-section {
  padding-top: 56px;
  padding-bottom: 80px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 64px;
    padding-bottom: 137px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 150px;
  }
}
/**
  |============================
  | hero-container
  |============================
*/
.hero-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;

  background-image: url(../img/hero/banana_mobile@1x.png),
    url(../img/hero/strawberry_mobile@1x.png);
  background-position: 10px 55px, 100% 0;

  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .hero-section .container {
    background-image: url(../img/hero/banana_tab@1x.png),
      url(../img/hero/strawberry_tab@1x.png);
    background-position: 12px 86px, 98% -22px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 142px;
    padding-top: 26px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-section .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: end; */
    column-gap: 86px;
    padding-top: 0;
    padding: 0 62px;
    background-image: url(../img/hero/banana_@1x.png),
      url(../img/hero/strawberry_@1x.png);
    background-position: 18% 120px, 83% -20px;
  }
}

/**
  |============================
  | hero-title
  |============================
*/
.hero-title {
  position: absolute;
  top: 8px;
  z-index: 2;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 1.08;
    max-width: 710px;
    top: -7px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    max-width: 910px;
    top: 0px;
    right: 14%;
  }
}
/**
  |============================
  | left
  |============================
*/
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

@media only screen and (min-width: 1280px) {
  .hero-left {
    margin-top: 350px;
    order: 1;
  }
}
/**
  |============================
  | text
  |============================
*/
.hero-text {
  margin-bottom: 44px;
  max-width: 273px;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 279px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text {
    max-width: 217px;
  }
}
.text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 61px;
}

.hero-right .text {
  margin-bottom: 19px;
}

.wraper-left,
.wraper-right {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 249px;
  height: 387px;
  background: #a4cb66;
  border-radius: 500px;
  padding: 28px 5px 40px 5px;
}
@media only screen and (min-width: 768px) {
  .wraper-left {
    align-self: end;
    margin-bottom: 0;
  }
}
.hero-subtitle {
  max-width: 133px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-right .hero-subtitle {
  max-width: 163px;
}
/**
  |============================
  | center
  |============================
*/
.hero-center {
  margin-bottom: 71px;
  position: relative;
  order: 1;
}
@media only screen and (min-width: 768px) {
  .hero-center {
    margin-bottom: 59px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-center {
    margin-bottom: 103px;
  }
}

.hero-img {
  position: relative;
  z-index: -1;
  padding: 12px 12px 13px;
  border-radius: 500px;
  background: linear-gradient(rgba(174, 19, 50), rgba(174, 19, 50)) padding-box,
    linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0)
      )
      border-box;
  border: 1.5px solid transparent;
}
@media only screen and (min-width: 768px) {
  .hero-img {
    padding: 20px 17px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-img {
    max-width: 486px;
  }
}

.btn-link {
  position: absolute;

  bottom: -30px;
  right: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: var(--color-bg-red);
  background-color: #fff;
  border-radius: 50%;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);

  /* transform: translateX(0%); */
}

@media only screen and (min-width: 768px) {
  .btn-link {
    width: 114px;
    height: 114px;
    font-size: 28px;
    bottom: -18px;
    right: 38%;
  }
}
.btn-link:hover,
.btn-link:focus {
  color: var(--color-green);
}
/**
  |============================
  | right
  |============================
*/
.hero-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  order: 3;
}

@media only screen and (min-width: 768px) {
  .hero-right {
    width: 40%;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-right {
    width: auto;
    margin-top: auto;
    margin-bottom: 103px;
  }
}
.wraper-right {
  background: #f5ce13;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .wraper-right {
    margin-bottom: 44px;
    margin-right: auto;
  }
}

.list-btn {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.hero-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;

  border: 1px solid #ffffff;
  border-radius: 1000px;
}

.hero-link-item:nth-child(3) {
  padding-left: 37px;
  padding-right: 37px;
}
.hero-link-item:nth-child(4) {
  padding-left: 43px;
  padding-right: 43px;
}
.hero-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .list-btn {
    justify-content: end;
    margin-bottom: 0;
  }

  .hero-link-item:nth-child(3) {
    padding: 12px 32px;
  }
  .hero-link-item:nth-child(4) {
    padding: 12px 32px;
  }
  .hero-link {
    width: auto;
  }
  .hero-link-m {
    width: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .list-btn {
    width: 267px;
  }
  .hero-link-item {
  }
}
