.works {
    padding-bottom: 80px;
}

.works-title {
    display: block;
    max-width: 335px;
    height: auto;
    margin-bottom: 14px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1.0;
    text-align: center;
    text-transform: uppercase;

    text-shadow: var(--var-1-shadow);
}

.works-desc {
    max-width: 509px;
    margin-bottom: 44px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;

    text-shadow: var(--var-1-shadow);
}

.works-list {
    display: block;
    margin-bottom: 44px;
}

.works-item {
    width: 100%;

    border-radius: 20px;

    background-color: var(--color-white);
}

.works-item:not(:last-child) {
    margin-bottom: 20px;
}

.works-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 20px;
}

.works-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 48px;

    border-radius: 200px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    color: var(--color-white);
}

.works-item-title.first-item-title {
    background-color: var(--color-bg-red);
}

.works-item-title.second-item-title {
    background-color: var(--color-green);
}

.works-item-title.third-item-title {
    background-color: var(--color-yellow);
}

.works-item-text {
    width: 145px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    color: var(--color-black);
    text-shadow: var(--var-1-shadow);
}

.works-image-wrapper {
    width: 100%;
    height: 476px;

    border-radius: 20px;

    overflow: hidden;

    background-image: url('../img/how-it-works/how-it-works.gif');
    background-size: cover;
    background-position: 30%;
}
