@media only screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;

    z-index: 100;

    background-color: var(--color-bg-red);
    transition: transform var(--var-1-animation);
    transform: translateX(100%);
  }

  .is-open {
    transform: translateX(0);
  }

  .menu-hamburger-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 124px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: 50px;

    background-color: var(--color-white);
  }

  .top-logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .nav-logo {
    fill: var(--color-bg-red);
  }

  .menu-btn {
    background-color: transparent;
    border: none;
  }

  .close-btn {
    padding: 0;
    width: 24px;
    height: 24px;
    color: var(--color-bg-red);
  }

  .menu-close {
    stroke: currentColor;
  }

  .menu-hamburger-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--color-bg-red);
  }

  .menu-hamburger-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-hamburger-item {
    margin-bottom: 16px;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: -0.04em;
  }

  .basket-btn-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-white);
  }

  .icon-basket {
    fill: currentColor;
  }

  .modal-open {
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
