.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-order{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    max-width: 335px;
    width: 100%;
    padding: 20px;
    min-height: 903px;
    background-color: var(--color-white);
}
.modal-order-group-basket{
    margin: 0;
    padding: 0;
}
.modal-order-label{
    display: block;
    margin-bottom: 12px;
    max-width: 295px;
    max-height: 119px;
    background-color: #F8766B;
}


